<h4>Help Us to Help You</h4>

<table class="table">
  <thead>
    
  <tr>
    <th>Tunda Online Shopping</th>
  </tr>
</thead>

<tbody>

  <tr>
    <td><td><b>Telephone:</b> </td> <td>256 785 852 842</td>
  </tr>
  <tr>
    <td><td><b>Address:</b> </td> <td>326598 Kamwokya</td>
  </tr>
  <tr>
    <td><td><b>Email:</b> </td> <td>something@company.com</td>
  </tr>
</tbody>
</table>






